<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControl" version="3.5.1" targetFramework="net48" />
  <package id="iExt.InteropServices" version="2020.810.1555" targetFramework="net48" />
  <package id="iExt.Microsoft.Xaml.Behaviors.Wpf" version="2020.811.947" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net48" />
  <package id="NAudio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net481" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net48" />
</packages>